@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.code_area {
  animation: smoothAppear 1s;
}

.start {
  opacity: 1;
}

.end {
  opacity: 1;
  transition: 1.5s;
}